In [4]:
from google.colab import files

filedata = files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [5]:
import pandas as pd

In [7]:
#membaca dataset dan mengubahnya menjadi dataframe
data = pd.read_csv('Social_Network_Ads.csv')

In [9]:
#mengubah dataset menjadi dataframe pandas
df = pd.read_csv('Social_Network_Ads.csv')

In [10]:
#untuk melihat 5 baris pertama dataset
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
#untuk melihat nila kosong pada setiap atribut
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [15]:
#drop pada kolom yang tidak diperlukan (id dihilangkan))
data = df.drop(columns=['User ID'])
data

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [18]:
#menjalankan proses one-hot encoding dengan pd.get_dummies()
data = pd.get_dummies(data)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [23]:
#pisahkan atribut dan label
predictions = ['Age', 'EstimatedSalary', 'Purchased', 'Gender_Female', 'Gender_Male']
X=data[predictions]
y=data['Purchased']

In [25]:
#melakukan normalisasi terhadap data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns=X.columns)
scaled_data.head()

        Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0 -1.781797        -1.490046  -0.745936      -1.020204     1.020204
1 -0.253587        -1.460681  -0.745936      -1.020204     1.020204
2 -1.113206        -0.785290  -0.745936       0.980196    -0.980196
3 -1.017692        -0.374182  -0.745936       0.980196    -0.980196
4 -1.781797         0.183751  -0.745936      -1.020204     1.020204

In [27]:
from sklearn.model_selection import train_test_split

#bagi data menjadi train dan test untuk setiap atribut dan label
X_train, X_test, y_train, y_test = train_test_split(scaled_data, y, test_size=0.2, random_state=1)

In [29]:
from sklearn import linear_model

#latih model dengan fungsi fit
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
from sklearn.preprocessing import StandardScaler

#uji akurasi model
model.score(X_test, y_test)

1.0